<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/base_navbar.css') }}"
/>

<nav class="navbar navbar-expand-lg navbar-dark mb-4">
  <div class="container-fluid">
    <img
      src="/static/images/cf772c7b-629b-4f51-b1f4-eace1d959062_removalai_preview.png"
      width="10%"
      height="auto"
    />
    <a
      class="navbar-brand"
      href="/"
      style="font-family: Verdana, Geneva, Tahoma, sans-serif"
      font-weight="bold"
      >GreenRide</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'home' %}active{% endif %}"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'categories' %}active{% endif %}"
            href="/cars"
            >Browse</a
          >
        </li>

        <li class="nav-item">
          {% if session.get("user_id") %}
          <a class="nav-link" href="/profile">My Account</a>
          {% endif %}
        </li>

        <li class="nav-item">
          {% if session.get("user_id") %}
          <a class="nav-link" href="/logout">Logout</a>
          {% else %}
          <a class="nav-link" href="/login">Login</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<body>
  {% with messages = get_flashed_messages()%} {% if messages%} {% for message in
  messages%}
  <p>{{message}}</p>
  {%endfor%} {%endif%} {%endwith%}
</body>

{% block content %}{% endblock %}
